  <div id="restaurant_info">
    
    <%= @restaurant.address %>
    <br/>
    <%= @restaurant.city %>
    <br/>
    <%= @restaurant.postal_code %>
    <br/>
    Price Range: <%= @restaurant.price_range %>
    <br/>
  
  </div>