// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.columns{margin-bottom: 10px;}
.row{border-bottom: 1px solid #e5e5e5;}
.logo_height{height:60px;}