// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.columns{margin-bottom: 10px;}
.row{border-bottom: 1px solid #e5e5e5;}
.logo_height{height:60px;}
<<<<<<< HEAD
=======
.hidden{display:none}

#login-bar form {
padding-left: 50%;
  
}

#login-bar form label {
  display: inline;
  color: yellow;
  color:  rgba(120,255,255,.8);
  
}
>>>>>>> 74039c72f6a19f7261bc706af67ea3f42a2ac45f
